{% extends 'profile.html' %}
{% block profileBlock %}
<div class="row">
    <div class="col-lg-4 col-md-10 col-12 my-2">
      <div class="list-group">
        <a href="{% url 'profile-page' %}" class="list-group-item list-group-item-action" aria-current="true">
          Mening Ma'lumotlarim
        </a>
        <a href="{% url 'my-order-page' %}" class="list-group-item list-group-item-action">Buyurtmalarim</a>
        <a href="{% url 'edit-password-page' %}" class="list-group-item list-group-item-action list-item-group-bg-purple">Parolni o'zgartirish</a>
        <a href="{% url 'logout-page'%}" class="list-group-item list-group-item-action">Saytdan Chiqish</a>

      </div>
    </div>
    <div class="col-lg-8 col-md-10 col-12 my-2">
      <div class="card shadow p-3">
        <h4 align="center">Parolni o'zgartirish</h4>
        <hr>
        <form method="post">
            {% if msg %}
            <div class="col-lg-12 {{status}}">{{msg}}</div>
            {% endif %}   
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12">
                <label class="form-label">Eski parolni kiriting</label>
                <input type="password" class="form-control" required name="old_pwd" placeholder="Eski parol...">
              </div>
              <div class="col-lg-6 mt-3">
                <label class="form-label">Yangi parolni kiriting</label>
                <input type="password" class="form-control" id="pwd" required name="new_pwd" oninput="check_user()" placeholder="Yangi parolni kiriting...">
              </div>
              <div class="col-lg-6 mt-3">
                <label class="form-label">Yangi parolni takrorlang</label>
                <div id="res2" style="font-size:14px;"></div>
                <input type="password" class="form-control" id="pwd2" required  oninput="check_user()" placeholder="Yangi parolni kiriting...">
              </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button type="submit" class="btn list-item-group-bg-purple" id="sBtn">Yangilash</button>
            </div>
          </form>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  function check_user(){
    let pwd = document.getElementById('pwd').value;
    let pwd2 = document.getElementById('pwd2').value;
    let res2 = document.getElementById('res2').value;
    let SubmitBtn = document.getElementById('sBtn').value;
    console.log(pwd,pwd2)
    if(pwd!=pwd2){
        $('#res2').html('').removeClass('text-danger')
        $('#res2').html("Parollar mos emas").addClass('text-danger')
        $('#sBtn').attr('disabled','disabled')
    }else{
        $('#res2').html('').removeClass('text-danger')
        $('#sBtn').removeAttr('disabled')
    }
    
  }
</script>
{% endblock %}