{% extends 'basic.html' %}
{% load static %}
{% block myblock %}
<div class="main-banner wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>Tezkor Pochta 24/7</h6>
                    <h2>Biz bilan yuklaringizni oson yetkazing.</h2>
                    <p>Biz mukammal darajadagi yetkazib berish xizmatini taklif qilamiz. Bizning ishimiz sifatli va arzon, eng muhimi sizning yukingiz xavfsiz holda yetkazib beriladi. </p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="#about">Batafsil</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/images/cargo2.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/images/about-image.png' %}" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h6>Biz Haqimizda</h6>
                  <h4>O'zbekiston bo'ylab <em>Tezkor Pochta</em></h4>
                  <div class="line-dec"></div>
                </div>
                <p>Biz sizga 2018-yilda tashkil etilgan <b>Tezkor Pochta</b> yuklarni eltish xizmatini tavsifa qilamiz. Chunki bizning xizmatlar xavfsiz va qulay narxlarda va siz xohlagan mahsulotni istagan joyingizgacha yetkazib beramiz.</p>

                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="100">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            100%<br>
                            <span>Xavfsiz</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="90">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            90%<br>
                            <span>Tezkor</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="100">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            100%<br>
                            <span>Sifatli</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Bizning Xizmatlar</h6>
            <h4>Bizning <em>Xizmatlar</em> nimalardan iborat</h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'assets/images/service-icon-01.png' %}" alt=""></span>
                        Tezkor <br>Xizmat
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'assets/images/service-icon-02.png' %}" alt=""></span>
                        Ovqatlar Yetkazib Berish
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'assets/images/service-icon-03.png' %}" alt=""></span>
                        Xavfsiz <br> saqlash
                      </div>
                    </div>
                    <div>
                       <div class="thumb">
                        <span class="icon"><img src="{% static 'assets/images/service-icon-04.png' %}" alt=""></span>
                        24/7 <br>Online Yordam
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'assets/images/service-icon-01.png' %}" alt=""></span>
                        Bojxona <br> xizmati
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Tezkor Xizmat</h4>
                                <p>Siz Bu Xizmat yordamida 1 - joydan 2 - joyga o'z mahsulotingizni olib borishingiz mumkin va bu xizmat turida sizga quyidagilarni taklif qilamiz:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> 48 soat ichida yetkazib berish</span> <span><i class="fa fa-check"></i> Sifatli Xizmat </span> <span><i class="fa fa-check"></i> Tezkor Transport</span>
                                  <span><i class="fa fa-check"></i> Kuryer Xizmati</span> <span><i class="fa fa-check"></i> Operator Xizmati</span> <span><i class="fa fa-check"></i> Mahsulot xaqida ma'lumot</span></div>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/speed_service.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Ovqatlarni Yetkazib berish</h4>
                                <p>Siz Bu xizmat turi yordamida siz istagan oshxona, kafe va restoranlardan ovqatlarni olishingiz mumkin va biz uni sizning uyingizgacha yetkazib beramiz va sizga quyidagilarni taklif qilamiz : </p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Tezkor Transport</span> <span><i class="fa fa-check"></i> Issiq Xolda</span> <span><i class="fa fa-check"></i> Mahsulotga zarar yetmagan xolda</span>
                                  <span><i class="fa fa-check"></i> 30 daqiqa ichida</span> <span><i class="fa fa-check"></i> Kuryer bilan aloqa</span> <span><i class="fa fa-check"></i> Arzon Narxda</span></div>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/food_delivery.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Xavfsiz Saqlash</h4>
                                <p>Bu Xizmat siz buyurtma qilgan mahsulotingiz to buyurtmachiga yetib borgunga qadar bizning vakolatimmizga kiradi ya'ni biz o'sha mahsulotning xavfsizligini ta'minlab beramiz.</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> 100% Xavfsiz</span> <span><i class="fa fa-check"></i> Tezkor</span> <span><i class="fa fa-check"></i> Olib Ketish</span>
                                  <span><i class="fa fa-check"></i> Yetkazib berish</span> <span><i class="fa fa-check"></i> 24/7 Nazorat</span> <span><i class="fa fa-check"></i> Zararlarsiz</span></div>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/safe.avif' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>24/7 Online Yordam</h4>
                                <p>Siz bizning xizmatlarimizdan foydalanayotganingizda biror-bir muammo paydo bo'lsa, <b>Mijozlarga Xizmat Ko'rsatish</b> bo'limiga murojaat qilishingiz mumkin. Biz sizga quyidagilarni taklif qilamiz :</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> 24/7 Yordam</span> <span><i class="fa fa-check"></i> Xushmuomalalik</span> <span><i class="fa fa-check"></i> Mahsulotingiz haqida ma'lumot</span>
                                  <span><i class="fa fa-check"></i> Malakali mutaxasislar</span> <span><i class="fa fa-check"></i> Savolingizga tezda javob olish</span></div>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/call_center.avif' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Bojxona Xizmati</h4>
                                <p>Biz sizga o'z mahsulotingizni bojxonadan qonuniy ravishda olib o'tishga ko'maklashamiz va biz sizga quyidagi xizmatlarni taklif qilamiz : </p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Qonuniy Ish</span> <span><i class="fa fa-check"></i> Barcha Xujjatlar bilan ishlash</span> <span><i class="fa fa-check"></i> Bojxona Soliqlari</span>
                                  <span><i class="fa fa-check"></i> Xavfsiz olib o'tish</span> <span><i class="fa fa-check"></i> Transport Xizmati</span> <span><i class="fa fa-check"></i> Manzilgacha yetkizib borish</span></div>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/customs.avif' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Biz bajargan ishlar</h6>
            <h4>Siz Biz <em>Bajargan ishlarni</em> ko'ring</h4>
            <div class="line-dec"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            {% if request.user.phone_verify %}
              {% for i in data %}
              <div class="item">
                <a href="{% url 'project-detail-page' i.id %}">
                  <div class="portfolio-item">
                  <div class="thumb">
                    <img src="/media/{{i.img}}" alt="">
                  </div>
                  <div class="down-content">
                    <h4>{{i.title}}</h4>
                    <span>{{ i.content|truncatechars:25 }}</span>
                  </div>
                </div>
                </a>
              </div>
              {% endfor %}
            {% else %}
              {% for i in data %}
                <div class="item">
                  <a href="{% url 'login-page' %}">
                    <div class="portfolio-item">
                    <div class="thumb">
                      <img src="/media/{{i.img}}" alt="">
                    </div>
                    <div class="down-content">
                      <h4>{{i.title}}</h4>
                      <span>{{ i.content|truncatechars:25 }}</span>
                    </div>
                  </div>
                  </a>
                </div>
                {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact1" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Biz bilan bog'laning</h6>
            <h4>Kerak bo'lsa biz bilan <em>Bog'laning</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-dec">
                  <img src="{% static 'assets/images/contact-dec.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-5">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191884.83987068178!2d69.11455491535277!3d41.28273794652268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b0cc379e9c3%3A0xa5a9323b4aa5cb98!2z0KLQsNGI0LrQtdC90YIsINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1683626199453!5m2!1sru!2s" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="{% static 'assets/images/phone-icon.png' %}" alt="">
                          <a href="#">+998 93-000-11-22</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="{% static 'assets/images/email-icon.png' %}" alt="">
                          <a href="https://t.me/kunuzofficial">Aloqa Uchun</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="{% static 'assets/images/location-icon.png' %}" alt="">
                          <a href="#">Tezkor Pochta 24/7</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <h3><a href="{% url 'order-page' %}">Buyurtma qoldirish uchun </a></h3>
                      <h5 class="mt-3">👆 Bosing</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}