{% extends 'basic.html' %}
{% block myblock %}
<div class="container" style="margin-top:150px;">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow p-3">
            <form method="post">
                {% csrf_token %}
                <h3 class="text-center">Buyurtma qoldirish</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 mt-2">
                        <label class="form-label">Yuboruvchining Ismi</label>
                        <input type="text" class="form-control" required name="sender_name" placeholder="Yuboruvchining ismini kiriting...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 mt-2">
                        <label class="form-label">Yuboruvchining Telefon raqami</label>
                        <div id="res1" style="font-size:14px;"></div>
                        <input type="text" class="form-control" required oninput="check_user()" name="sender_phone_number" placeholder="+998930001122" id="phone_number">
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 mt-2">
                        <label class="form-label">Mahsulot Nomi</label>
                        <input type="text" class="form-control" required name="product_name" placeholder="Mahsulot nomini kiriting...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 mt-2">
                        <label class="form-label">Mahsulot O'girligi (kg)</label>
                        <input type="text" class="form-control" required oninput="account_price()" id="product_weight" name="product_weight" placeholder="Mahsulot o'girligini kiriting...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 mt-2">
                        <label class="form-label">Mahsulot Narxi: 1kg = 12,000 UZS</label>
                        <input type="text" class="form-control" required id="price" name="product_price" readonly placeholder="0">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 mt-2">
                        <label class="form-label">Oluvchi shahsning ismi</label>
                        <input type="text" class="form-control" required name="client_name" placeholder="Oluvchi shahsning ismini kiriting...">
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 mt-2">
                        <label class="form-label">Oluvchi Shahsning Tel Raqami</label>
                        <div id="natija" style="font-size:14px;"></div>
                        <input type="text" class="form-control" required name="client_phone_number" oninput="check_phone()" id="client_phone_number" placeholder="Oluvchi shahsning tel raqamini kiriting...">
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 mt-2">
                        <label class="form-label">To'liq Manzil</label>
                        <textarea name="address" class="form-control" required cols="30" rows="4" placeholder="Mahsulotni yetkazib beriladigan manzilini to'liq kiriting..."></textarea>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" id="sBtn">Yuborish</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  function check_user(){
    let p_number = document.getElementById('phone_number').value;
    let SubmitBtn = document.getElementById('sBtn').value;
    let res1 = document.getElementById('res1').value;
    const regex = /^\+(998)[0-9]{2}\d{7}$/;
    $.ajax({
      url: "{% url 'check-user' %}",
      type: "get",
      data: {phone_number:p_number},
      success: function(data){
        if(regex.test(p_number) == false){
          $('#res1').html('').removeClass('text-danger')
          $('#res1').html("O'zbekistonga tegishli raqam kiriting").addClass('text-danger')
          $('#sBtn').attr('disabled','disabled')
        }else if(data=='No Exists'){
          $('#res1').html('').removeClass('text-danger')
          $('#res1').html("Bu raqam bazada mavjud emas").addClass('text-danger')
          $('#sBtn').attr('disabled','disabled')
        }else{
          $('#res1').html('').removeClass('text-danger')
          $('#sBtn').removeAttr('disabled')
        }
      }
    })
  }
  function account_price(){
    let product_weight = document.getElementById("product_weight").value;
    let price_input = document.getElementById("price");
    let price_value = Number(product_weight*12000);
    price_input.value = price_value
  }
  function check_phone(){
    let client_p_number = document.getElementById('client_phone_number').value;
    let res2 = document.getElementById('natija');
    let SubmitBtn = document.getElementById('sBtn');
    const regex = /^\+(998)[0-9]{2}\d{7}$/;
    if (regex.test(client_p_number) == false){
        res2.innerHTML = "O'zbekistonga tegishli raqam kiriting"
        res2.classList.add("text-danger")
        SubmitBtn.setAttribute("disabled", "disabled");
    }else{
        res2.innerHTML = ""
        res2.classList.remove("text-danger")
        SubmitBtn.removeAttribute("disabled");

    }
  }
</script>
{% endblock %}